extends ../layouts/layout

block content
  .container.d-flex.justify-content-center.align-items-center.min-vh-100
    .text-center
      h1.text-danger.display-1 404
      h2.text-dark Oops! Page Not Found
      p.text-muted The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
      a.btn.btn-primary(href="/") Go Back to Home